/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Varables */
:root{
    --primary-color: rgb(45, 37, 160);
    --accent-color: rgb(224, 44, 109);
    --heading-color: rgb(10, 8, 38);
    --sub-heading-color: rgb(24, 25, 31);
    --text-color: rgb(108, 108, 108);
    --footer-icons: rgb(150, 155, 171);
    --icon-bg: rgba(11, 13, 23, 0.1);
}

/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header-container , .banner , .highlights{
    max-width: 1160px;
    margin: 0 auto;
    padding: 30px 0;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

ul li{
    list-style: none;
}

.button{
    box-shadow: inset -400px 0 0 0 var(--accent-color);
    padding: 10px 30px;
    border: 3px solid var(--accent-color);
    transition: all 0.4s ease-in 0.1s;
}

.button:hover{
    box-shadow: inset 0px 0 0 0 var(--accent-color);
    color: var(--accent-color);
}

/* Header Section Styles */
header{
    background: var(--primary-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .fa-bars{
    color: var(--accent-color);
    font-size: 30px;
    margin-left: 30px;
    transition: color 0.4s ease;
    cursor: pointer;
    display: none;
}

nav .fa-bars:hover{
    color: #FFFFFF;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}

#active{
    border-bottom: 4px solid var(--accent-color);
    color: #FFFFFF;
}

nav ul li a{
    margin-left: 30px;
    padding: 15px 0;
    color: #DDDDDD;
    transition: all 0.2s ease;
}

nav ul li a:hover{
    border-bottom: 4px solid #DDDDDD;
}

nav span{
    display: flex;
    text-align: center;
}

nav span a{
    margin-right: 30px;
}

nav span a:hover , .banner section a:hover{
    border-color: #FFFFFF;
    color: #FFFFFF !important;
}

/* Main Section Styles */

/* Banner Styles */
.banner{
    background: var(--primary-color);
    max-width: 100vw;
    padding: 0 30px;
}

.banner .container{
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.banner section h2{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.banner section img{
    width: 560px;
    max-width: 100%;
    padding: 0 30px;
    transition: transform 0.4s ease-in;
    z-index: 1;
}

.banner:hover .section-2 > img{
    transform: rotate(5deg);
}

/* Players Style */
.players-container{
    display: flex;
    justify-content: center;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 80px 0;
}

.player{
    width: 330px;
    padding: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.player h3{
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0;
    color: var(--sub-heading-color);
}

.player p{
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    color: var(--text-color);
    margin-bottom: 15px;
}

.player img{
    width: 300px;
}

/* Highlights Style */
.highlights{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.highlights h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: var(--heading-color);
}

.highlights p{
    margin: 15px 30px 30px 0;
    text-align: justify;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-color);
}

.highlights a{
    margin-bottom: 30px;
}

.highlights img{
    width: 560px;
}

/* Footer Section Styles */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 30px;
}

footer img{
    width: 480px;
}

footer a{
    color: var(--footer-icons);
    background: var(--icon-bg);
    font-size: 16px;
    padding: 10px;
    margin: 20px 0;
    clip-path: circle();
    transition: color 0.4s ease;
}

footer a:hover{
    color: #000000;
}

footer p{
    font-size: 18px;
}

/* Media Queries */

/* Tablet Devices */
@media screen and (max-width: 992px) {
    nav ul{
        display: none;
    }

    nav .fa-bars{
        display: inline-block;
    }

    main .container , .highlights{
        flex-direction: column;
    }

    .banner section img{
        margin-top: 50px;
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Mobile Devices */
@media screen and (max-width: 688px) {
    .players{
        grid-template-columns: repeat(1, 1fr);
    }

    .highlights img{
        max-width: 100%;
    }
}